<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'header.html' %}

    <main>
        <h2>How to get started</h2>
        <h4>Go to a YouTube video and replace the "youtube.com" with "onlix.me"! That's it!</h4>
    
        <a href="?v=ao4RCon11eY"><button style="color: white; font-size: 1.5rem;">Demo</button></a>
        <a href="pro"><button style="color: white; font-size: 1.5rem;">Pro</button></a>
        <a href="source"><button style="color: white; font-size: 1.5rem;">Source code</button></a>


    </main>

    {% include 'footer.html' %}
</body>

</html>