<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'header.html' %}

    <main>
        <h2>Pro Version</h2>
        <h4>NOTICE: The system is currently in beta</h4>
        <h5>Don't worry, it's completely FREE!</h5>
        
        <br>
        
        <h3>Features</h3>
        <ul>
            <li>Unlimited quality (up to 8K!)</li>
        </ul>

        <a href=""><button class="submit-button">Claim now!</button></a>

        <h3>Why is it free?</h3>
        <p>Many reasons. First, it's legally not that easy. Also, I don't care! This project is and will (and I can assure you that) always be FOSS - Free and Open Source.</p>
    </main>


    {% include 'footer.html' %}
</body>

</html>